@font-face {
  font-family: 'B-Yekan';
  src: url('../public/fonts/Yekan.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  direction: rtl;
}

body {
  font-family: 'B-Yekan';
}

button, input, textarea {
  font-family: 'B-Yekan';
}

.app {
  width: calc(100% - 240px);
  padding: 1rem;
  margin-right: 240px;
  transition: all 300ms ease-in-out;
}

.app.expand {
  width: calc(100% - 80px);
  padding: 1rem 2rem;
  margin-right: 80px;
}